<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <title>index</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/index.ico" />
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/my.css">
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/my.js"></script>
    <script>
    </script>
</head>
<body>
<div>
    <div id="web_bg" style="background-image: url(../static/images/index.jpg)"></div>
    <div class="index_text">
        <h1>Customer Relationship Management</h1>
        <h1>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp客
            &nbsp&nbsp&nbsp&nbsp户&nbsp&nbsp&nbsp&nbsp关
            &nbsp&nbsp&nbsp&nbsp系&nbsp&nbsp&nbsp&nbsp管
            &nbsp&nbsp&nbsp&nbsp理</h1>
    </div>
    <div class="login">
        <form>
            <div class="form-group">
                <label for="userName" style="color: white">userName</label>
                <input type="text" class="form-control" id="userName" name="userName" placeholder="userName">
            </div>
            <div class="form-group">
                <label for="password" style="color: white">password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <a href=""><p class="help-block" style="color: white">帮助?</p></a>
                <a href="../static/article/forget.html"><p class="help-block" style="color: white">忘记密码?</p></a>
            </div>
            <div class="checkbox">
                <label style="color: white">
                    <input type="checkbox" id="type" value="1" name="type"> 管理员
                </label>
            </div>
            <button type="button" class="btn btn-default" onclick="login()">登录</button>
        </form>
    </div>
    <div style="color: white" class="button_text">
        <h5>关于我们 | 服务条款 | 隐私政策 | 客服中心 | 联系我们 | 帮助中心 | ©1998 - 2019 uni-top Inc. All Rights Reserved.</h5>
    </div>
</div>
</body>
</html>